*{
    margin:0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background:url(mainbg.png);
    /* background: url(bg.png); */
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size:cover ;
    
}
.container{
    position: absolute;
    height:100%;
    width: 100%;
    /* background: white; */
    background-position: center;
    background-size: cover;

}

.mainbox {
    position: relative;
    display: flex;
    background: #fff;
    width: 1400px;
    height: 600px;
    margin: 6% auto;
    /* border: 1px solid hotpink; */
    border-radius: 18px;
    /* box-shadow: hotpink; */
    box-shadow: 0px 0px 16px 0 rgb(255 255 255 / 30%) inset, 2px 16px 255px 0 rgb(0 0 0 / 25%) inset;

    

}


.picturebox{
 
    background-image: url(Blockchain_Logo2.png);
    position: relative;
    width: 700px;
    height: 600px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
    box-shadow: 0px 12px 40px 0 rgb(255 255 255 / 30%) inset, 2px -4px 15px 0 rgb(0 0 0 / 25%) inset;
    
   
}

.loginForm {
    position: relative;
    width: 700px;
    height: 600px;
    background: #fff;
    overflow: hidden;
    /* border: 1px solid black; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 12px 12px 16px 0 rgb(255 255 255 / 30%) inset, 2px -4px 60px 0 rgb(0 0 0 / 25%) inset;
}
.btnbox {
    width: 255px;
    height: 50px;
    margin: 22px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
    /* background: green; */
}

.slideShiftBar {
    position: relative;
    background: transparent;
    cursor: pointer;
    padding: 10px 25px;
    border: 0px;
    font-size: 25px;
    outline: none;
}

#butn{
    top:0;
    left: 0;
    position: absolute;
    width: 122.5px;
    height: 100%;
    background: linear-gradient(to left, #a3a4df,#9bcadd);
    border-radius: 30px;
    transition: 0.5s;
}

.inputBox{
    position: absolute;
    width:280px;
    top: 180px;
    transition: 0.5s;
}
.inputfield {
    width: 100%;
    padding: 10px 10px;
    MARGIN: 5px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    font-size: 25px;
    padding: 5px;
    padding-left: 50px;
    margin: 11px auto;
    border-radius: 8px;
    border: 1px solid black;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    display:block;
    cursor: pointer;
    margin:auto;
    background: linear-gradient(to right, #a3a4df,#9bcadd);
    border: 0;
    outline: none;
    border-radius: 30px;
}
.checkbox{
    margin: 30px 10px 30px 0;
}
span{
    color:#777;
    font-size: 12px;
    bottom: 65px;
    position: absolute;
    /* font-size: 30px; */

}
#login{
    left: 100px;
    top:240px;
}
#signup {
    left: 760px;
    top: 240px;
}
.brandname {
    position: relative;
    padding: 40px 51px;
    font-size: 45px;
    font-size: 30px;
}
#logo {
    height: 30px;
    width: 41px;
}

#userlogimg{
    position: absolute;
    top: 23px;
    left:13px;
}

#passlogimg {
    position: absolute;
    top: 86px;
    left: 13px;
}
#emailregimg{
    position: absolute;
    top: 147px;
    left: 13px;
}
